<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head.ejs')  %> 

<body>
    <%-include('./partials/nav.ejs')  %> 
    <div class="About  content">
        <h2>About Us</h2>
        <h3>What is Movies Mania?</h3>
        <p>Movies Mania is a global social network for grass-roots film discussion and discovery. Use it</p>
        <p>as a diary to record and share your opinion about films as you watch them, or just to keep</p>
        <p>track of films you’ve seen in the past. Showcase your favorites on your profile page. Rate,</p>
        <p>review and tag films as you add them. Find and follow your friends to see what they’re</p>
        <p>enjoying. Keep a watchlist of films you’d like to see, and create lists/collections on any</p>
        <p>given topic. We’ve been described as “like GoodReads for movies”.</p>
    </div>
    <%-include('./partials/footer.ejs')  %>
</body>

</html>

